.grid_1 {  margin-left: 6px;margin-right: 6px;width: 10px;min-height:1px;}
.grid_2 {  margin-left: 6px;margin-right: 6px;width: 20px;min-height:1px;}
.grid_3 {  margin-left: 6px;margin-right: 6px;width: 30px;min-height:1px;}
.grid_4 {  margin-left: 6px;margin-right: 6px;width: 40px;min-height:1px;}
.grid_5 {  margin-left: 6px;margin-right: 6px;width: 50px;min-height:1px;}
.grid_6 {  margin-left: 6px;margin-right: 6px;width: 60px;min-height:1px;}
.grid_7 {  margin-left: 6px;margin-right: 6px;width: 70px;min-height:1px;}
.grid_8 {  margin-left: 6px;margin-right: 6px;width: 80px;min-height:1px;}
.grid_9 {  margin-left: 6px;margin-right: 6px;width: 90px;min-height:1px;}
.grid_10 {  margin-left: 6px;margin-right: 6px;width: 100px;min-height:1px;}
.grid_11 {  margin-left: 6px;margin-right: 6px;width: 110px;min-height:1px;}
.grid_12 {  margin-left: 6px;margin-right: 6px;width: 120px;min-height:1px;}
.grid_13 {  margin-left: 6px;margin-right: 6px;width: 130px;min-height:1px;}
.grid_14 {  margin-left: 6px;margin-right: 6px;width: 140px;min-height:1px;}
.grid_15 {  margin-left: 6px;margin-right: 6px;width: 150px;min-height:1px;}
.grid_16 {  margin-left: 6px;margin-right: 6px;width: 160px;min-height:1px;}
.grid_17 {  margin-left: 6px;margin-right: 6px;width: 170px;min-height:1px;}
.grid_18 {  margin-left: 6px;margin-right: 6px;width: 180px;min-height:1px;}
.grid_19 {  margin-left: 6px;margin-right: 6px;width: 190px;min-height:1px;}
.grid_20 {  margin-left: 6px;margin-right: 6px;width: 200px;min-height:1px;}
.grid_21 {  margin-left: 6px;margin-right: 6px;width: 210px;min-height:1px;}
.grid_22 {  margin-left: 6px;margin-right: 6px;width: 220px;min-height:1px;}
.grid_23 {  margin-left: 6px;margin-right: 6px;width: 230px;min-height:1px;}
.grid_24 {  margin-left: 6px;margin-right: 6px;width: 240px;min-height:1px;}
.grid_25 {  margin-left: 6px;margin-right: 6px;width: 250px;min-height:1px;}
.grid_26 {  margin-left: 6px;margin-right: 6px;width: 260px;min-height:1px;}
.grid_27 {  margin-left: 6px;margin-right: 6px;width: 270px;min-height:1px;}
.grid_28 {  margin-left: 6px;margin-right: 6px;width: 280px;min-height:1px;}
.grid_29 {  margin-left: 6px;margin-right: 6px;width: 290px;min-height:1px;}
.grid_30 {  margin-left: 6px;margin-right: 6px;width: 300px;min-height:1px;}
.grid_35 {  margin-left: 6px;margin-right: 6px;width: 350px;min-height:1px;}
.grid_36 {  margin-left: 6px;margin-right: 6px;width: 360px;min-height:1px;}
.grid_37 {  margin-left: 6px;margin-right: 6px;width: 370px;min-height:1px;}
.grid_38 {  margin-left: 6px;margin-right: 6px;width: 380px;min-height:1px;}
.grid_39 {  margin-left: 6px;margin-right: 6px;width: 390px;min-height:1px;}
.grid_40 {  margin-left: 6px;margin-right: 6px;width: 400px;min-height:1px;}
.grid_45 {  margin-left: 6px;margin-right: 6px;width: 450px;min-height:1px;}
.grid_50 {  margin-left: 6px;margin-right: 6px;width: 500px;min-height:1px;}

.push_1 {left: 10px;}
.push_2 {left: 20px;}
.push_3 {left: 30px;}
.push_4 {left: 40px;}
.push_5 {left: 50px;}
.push_6 {left: 60px;}
.push_7 {left: 70px;}
.push_8 {left: 80px;}
.push_9 {left: 90px;}
.push_10 {left: 100px;}
.push_11 {left: 110px;}
.push_12 {left: 120px;}
.push_13 {left: 130px;}
.push_14 {left: 140px;}
.push_15 {left: 150px;}
.push_16 {left: 160px;}
.push_17 {left: 170px;}
.push_18 {left: 180px;}
.push_19 {left: 190px;}
.push_20 {left: 200px;}


