
.select_sub_category_div_style {
  width: 400px;
  height: 500px;  
  position: fixed;  
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -250px;
  background-color: #FFFFFF;
  text-align: left;
  border-radius:20px;
  border: 5px solid #FFF;
  z-index: 101;
  display: none;
}