.overlay {
  background-color: #000000;
  height: 100%;
  left: 0;
 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;  
  
  
  /* Theoretically for IE 8 & 9 (more valid) */ 
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=50);
  
  /* Older than Firefox 0.9 */
  -moz-opacity:0.5;
  
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0.5;
    
  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0.5;
  
}

.overlay0 {
  background-color: #000000;  
  height: 100%;
  left: 0;  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; 
  
  /* Theoretically for IE 8 & 9 (more valid) */ 
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=0);
  
  /* Older than Firefox 0.9 */
  -moz-opacity:0;
  
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0;
    
  /* Modern!
  /* Firefox 0.9+, Safari 2?, Chrome any?
  /* Opera 9+, IE 9+ */
  opacity: 0; 
}


.user_registration_div_style {
  width: 400px;
  height: 330px;  
  position: fixed;  
  left: 50%;  
  top: 50%;
  margin-left: -200px;
  margin-top: -165px;
  background-color: #FFF;
  text-align: left;
  border-radius:20px;
  border: 5px solid #FFF;
  z-index: 101;  
}